/* Styles for Section Two */
.section-two {
  padding: 50px 0; /* Add padding as needed */
}

.section-two .section-content {
  display: flex;
  justify-content: center;
}

.sec-two-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec-two-subsection {
  flex: 0 0 calc(50% - 10px); /* Adjust width of subsections */
  display: flex;
  flex-direction: row;
  align-items: center;
}



.sec-two-subsection-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 80px;
  text-align: left;
  border-left: 1.5px solid #000000; /* Adjust color as needed */
}

.sec-two-subsection-content h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.2rem; /* Adjust font size as needed */
  margin-top: 0px; /* Adjust margin as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 700; /* Specify bold weight */
}

.sec-two-subsection-content p {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1rem; /* Adjust font size as needed */
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 400; /* Specify bold weight */
}
