.section-five-colour {
  background-color: #ddf2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.SectionFive {
  margin: auto;
  align-items: center;
}

.fiveTitleCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fiveTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin-bottom: 20px;
}
.fiveTitle h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 20px;
}
.fiveTitle img {
  margin-left: 20px;
  margin-right: 20px;
}
.fiveTitle h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.8rem;
  font-weight: 400;
  color: #977347;
  border-left: 2.5px solid #000;
  padding-left: 20px;
  line-height: 1;
}
.fiveimages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.fiveimages img {
  width: 33%;
}
.fiveCenterImage {
  margin-left: 10px;
  margin-right: 10px;
}
.fiveText {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fiveText p {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.fiveText hr {
  border-radius: 5px;
  border: 10px solid transparent;
}

.fiveboldtext {
  font-weight: 700;
}

.fiveContact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contactBtn {
  background: #977347;
  color: #fff;
  padding: 20px 38px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
