.section-five-colour {
  background-color: #ddf2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.SectionFive {
  margin: auto;
  align-items: center;
}

.fiveTitleCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fiveTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin-bottom: 20px;
}
.fiveTitle h2 {
  margin-right: 20px;
}
.fiveTitle img {
  margin-left: 20px;
  margin-right: 20px;
}
.fiveTitle h1 {
  border-left: 2.5px solid #000;
  padding-left: 20px;
  line-height: 1;
}
.fiveimages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-top: 20px;
}
.fiveimages img {
  width: 33%;
}
.fiveCenterImage {
  margin-left: 10px;
  margin-right: 10px;
}
.fiveText {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fiveText p {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.fiveText hr {
  border-radius: 5px;
  border: 10px solid transparent;
}

.fiveboldtext {
  font-weight: 700;
}

.fiveContact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.contactBtn {
  background: #977347;
  color: #fff;
  padding: 20px 38px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.fiveTitle hr {
  display: none;
}

.fiveimagesSel1 {
  display: flex;
}

.fiveimagesSel2 {
  display: none;
}

/* MOBILE */
@media (max-width: 840px) {
  .fiveTitle {
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .fiveTitle h1 {
    border-left: 0px solid #000;
    padding-left: 0px;
    padding-top: 0px;
    line-height: 1;
  }

  .fiveTitle hr {
    display: flex;
    border: 1.4px solid #000;
    width: 24%;
    margin-bottom: 17px;
    margin-top: 20px;
  }

  .fiveimagesSel1 {
    display: none;
  }

  .fiveimagesSel2 {
    display: flex;
  }

  .fiveimages {
    padding-top: 10px;
  }

  .fiveimages img {
    width: 30.2%;
  }

  .fiveCenterImage {
    margin-left: 13px;
    margin-right: 13px;
  }

  .fiveText p {
    width: 100%;
  }

  .contactBtn {
    background: #977347;
    color: #fff;
    padding: 20px 38px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

/* WIDE SCREENS */
@media (min-width: 2300px) {
  .fiveTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    margin-bottom: 20px;
  }
  .fiveTitle h2 {
    margin-right: 20px;
  }

  .fiveTitle h1 {
    border-left: 2.5px solid #000;
    padding-left: 20px;
    line-height: 1;
  }
}
