.Section1PrivateLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddf2f2;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 60px;
}

/* Section 1 Private 1 CSSS*/

.centered-privatelabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section1Private1 {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Text Region */

.Section1PrivateTextRegion {
  width: 50%;
}

.Section1PrivateTextRegionAdjust {
  width: 84%;
}

.Section1PrivateTextRegion h2 {
  margin-bottom: 17px;
}
.Section1PrivateTextRegion hr {
  border: 2px solid #000;
  width: 24%;
  margin-bottom: 40px;
}
.Section1PrivateTextRegion p {
  width: 100%;
  display: inline;
}

.Section1PrivateTextRegion .boldtext {
  font-weight: 700; /* Specify bold weight */
  width: 100%;
  display: inline;
}

/* Image Region */

.Section1PrivateImageRegion {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-left: 10px;
}
.Section1PrivateImageRegion img {
  width: 100%;
}

/* Section 1 Private 2 CSS*/

.Section1Private2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/* Image Region */

.Section1PrivateImageRegion2 {
  width: 50%;
  display: flex;
  align-items: center;
}
.Section1PrivateImageRegion2 img {
  width: 50%;
  margin-right: 10px;
}
.Section1PrivateImageRegion2 div {
  margin-left: 5px;
  margin-right: 5px;
}

/*Text Region*/
.Section1PrivateTextRegion2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Section2PrivateTextRegionAdjust {
  width: 84%;
}

.Section1PrivateTextRegion2 p {
  font-weight: 400; /* Specify bold weight */
  width: 100%;
  display: inline;
}

.Section1PrivateTextRegion2 .boldtext {
  font-weight: 700; /* Specify bold weight */
  width: 100%;
  display: inline;
}

.fullService1 {
  display: flex;
}

.fullService2 {
  display: none;
}

/* MOBILE */
@media (max-width: 840px) {
  .Section1PrivateLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddf2f2;
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 60px;
  }

  .Section1Private1 {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .Section1PrivateTextRegion hr {
    border: 1.5px solid #000;
    width: 24%;
    margin-bottom: 30px;
  }

  .boldtext {
    font-size: 1.05rem;
  }

  .Section1PrivateTextRegion {
    width: 100%;
  }

  .Section1PrivateTextRegionAdjust {
    width: 100%;
  }

  .Section1PrivateImageRegion {
    margin-top: 30px;
    width: 100%;
    margin-left: 0px;
  }

  .Section1PrivateImageRegion img {
    width: 100%;
  }

  .Section1Private2 {
    flex-direction: column-reverse;
    width: 100%;
  }

  /* Image Region */

  .Section1PrivateImageRegion2 {
    width: 100%;
  }
  .Section1PrivateImageRegion2 img {
    width: 48%;
    margin-right: 0px;
  }
  .Section1PrivateImageRegion2 div {
    margin-left: 1%;
    margin-right: 1%;
  }

  /*Text Region*/
  .Section1PrivateTextRegion2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 30px;
  }

  .Section2PrivateTextRegionAdjust {
    width: 100%;
  }

  .Section1PrivateTextRegion2 p {
    width: 100%;
    display: inline;
  }

  .Section1PrivateTextRegion2 .boldtext {
    font-weight: 700; /* Specify bold weight */
    font-size: 0.9rem;
    width: 100%;
    display: inline;
  }

  .fullService1 {
    display: none;
  }

  .fullService2 {
    display: flex;
  }
}
