.Section1About{
    background-color: #EEE2D5;
    padding-top: 180px;
    padding-bottom: 60px;
    align-items: center;
    width: 100%;
}
.Section1AboutTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Section1AboutCentered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Section1AboutTitle h1{
    width: 90%;
    max-width: 1090px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.8rem;
    font-weight: 400;
    line-height: 0.9;    
    text-align: center;
    color: #977347;
}
.Section1Aboutimages{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.Section1Aboutimages img{
    width: 33%;
}
.Section1AboutCenterImage{
    margin-left: 24px;
    margin-right: 24px;
}
.Section1AboutText{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Section1AboutText p{
    align-items: center;
    justify-content: center;
    width: 48%;
}

