.header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center; /* Centers the header-container horizontally */
  align-items: center;
  min-height: 80px;
  position: fixed;
  z-index: 10;
  border-bottom: 5px solid #977347;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center container horizontally */
}

.logo {
  width: 200px; /* Adjust width as needed */
}

.header__nav {
  display: flex; /* Sets horizontal layout */
  list-style: none; /* Removes default bullet points */
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__nav li {
  margin-left: 2.5rem; /* Adjust spacing as needed */
  display: inline-block; /* Optional for spacing */
}

.header__nav a {
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 400; /* Specify bold weight */
  font-size: 1rem; /* Adjust font size as needed */
}

.header__nav a:hover {
  color: #000;
}
