.header {
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center; /* Centers the header-container horizontally */
  align-items: center;
  min-height: 60px;
  position: fixed;
  z-index: 10;
  border-bottom: 5px solid #977347;
}

.header-container {
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center container horizontally */
}

.logo {
  width: 200px; /* Adjust width as needed */
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

@media (max-width: 840px) {
  .header__nav {
    margin: 14px 0;
  }
}

.header__nav li {
  margin-left: 2.5rem; /* Adjust spacing as needed */
  display: inline-block; /* Optional for spacing */
}

.header__nav a {
  text-decoration: none;
  color: #333;
  font-weight: 400; /* Specify bold weight */
  font-size: 1rem; /* Adjust font size as needed */
}

.header__nav a:hover {
  color: #000;
}

.menu-icon {
  display: none;
}

@media (max-width: 840px) {
  .logo {
    width: 140px;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    background: #fff;
    z-index: -1;
    width: 180px;
    padding-top: 70px;
    transition: 0.1s;
  }

  nav ul li {
    display: block;
    margin: 25px 40px;
  }

  .menu-icon {
    display: block;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s ease-in-out;
  }

  .header__nav a {
    font-size: 0.8rem; /* Adjust font size as needed */
  }
}

/* WIDE SCREENS */
@media (min-width: 2300px) {
  .logo {
    width: 300px;
  }

  .header__nav a {
    font-size: 1.5rem; /* Adjust font size as needed */
  }
}
