.Section3PrivateLabel {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee2d5;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100%;
}

.Sec3Centered {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Section3Grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Section3Grid .widthequivalent {
  width: 50%;
}

.Section3PrivateLabel h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 1.4;
  max-width: 500px;
}
.Section3PrivateLabel hr {
  border: 2px solid #000;
  width: 8%;
  margin-bottom: 50px;
}

.Section3PrivateCheckText {
  display: flex;
  align-items: start;
  justify-content: left;
  margin-bottom: 30px;
}
.Section3PrivateCheckText div {
  margin-right: 20px;
}
.Section3PrivateCheckText p {
  width: 97%;
}

.forceLeftMargin {
  margin-left: 20px;
}
