.Section3PrivateLabel {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee2d5;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100%;
}

.Sec3Centered {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Section3Grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Section3Grid .widthequivalent {
  width: 50%;
}

.Section3PrivateLabel h2 {
  margin-bottom: 17px;
  max-width: 500px;
}
.Section3PrivateLabel hr {
  border: 2px solid #000;
  width: 8%;
  margin-bottom: 50px;
}

.Section3PrivateCheckText {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
}
.Section3PrivateCheckText div {
  margin-right: 20px;
}
.Section3PrivateCheckText p {
  width: 97%;
}

.forceLeftMargin {
  margin-left: 20px;
}


/* MOBILE */
@media (max-width: 840px) {

  .Section3PrivateLabel {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .Section3PrivateLabel hr {
    border: 2px solid #000;
    width: 30%;
    margin-bottom: 50px;
  }

  .Section3Grid {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: left;
  }

  .Section3Grid .widthequivalent {
    width: 100%;
  }

  .Section3PrivateCheckText p {
    width: 100%;
  }

  .forceLeftMargin {
    margin-left: 0px;
  }

  .Section3PrivateCheckText {
    margin-bottom: 22px;
  }
}