/* Styles for Section One */
.section-one {
  position: relative;
  height: 500px;
  overflow: hidden; /* Hide overflow content */
  margin-top: 100px;
}

.section-one-background {
  background-image: url("../../../assets/home/main-frame.png"); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.section-one .section-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

.section-one .container {
  margin: 0 auto;
  padding: 0 20px; /* Adjust padding as needed */
}

.section-one .section-one-text {
  max-width: 320px;
  color: white; /* Adjust text color */
}

.section-one .section-one-text h1 {
  font-size: 2.2rem; /* Adjust font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.section-one .section-one-text p {
  font-size: 1rem; /* Adjust font size as needed */
}
