/* Styles for Section One */
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-image: url("../../../assets/home/Banner1-Desk.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

@media (max-width: 840px) {
  .section-one {
    flex-direction: column;
    align-items: start;
    margin-top: 60px;
    background-image: url("../../../assets/home/Banner1-Mobile.jpg");
  }
}

.flex-column-generic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one .width-limiter {
  width: 100%;
}


.section-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 100%;
}

.section-one-text {
  max-width: 380px;
  color: white; /* Adjust text color */
  margin-top: 90px;
  margin-bottom: 90px;
}




.section-one-text h1 {
  margin-bottom: 30px; /* Adjust margin as needed */
}

@media (max-width: 840px) {
  .section-one-text {
    margin-top: 35px;
    margin-bottom: 288px;
  }
  .section-one-text h1 {
    margin-bottom: 12px; /* Adjust margin as needed */
  }
  
}
