/* Styles for Section One */
.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-image: url("../../../assets/home/Banner1-Desk.jpg"); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
}

.section-one .width-limiter {
  width: 100%;
}

/* Styles for mobile screens (less than 768px) */
@media (max-width: 767px) {
  .section-one {
    background-image: url("../../../assets/home/Banner1-Mobile.jpg"); /* Specify the path to your background image */
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.section-one-text {
  max-width: 380px;
  color: white; /* Adjust text color */
  margin-top: 90px;
  margin-bottom: 90px;
}

.section-one-text h1 {
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: 700;
  margin-bottom: 30px; /* Adjust margin as needed */
}
