.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
  margin-top: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin: 0 auto; /* Center container horizontally */
  padding-top: 25px;
}

.footer__contact-info {
  display: flex;
  justify-content: space-between; /* Space sections horizontally */
  width: 100%; /* Take full width of container */
  margin-bottom: 2rem;
}

.footer__contact-us {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between; /* Space sections horizontally */
}



.footer__contact-details {
  line-height: 1.5; /* Adjust line spacing as needed */
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}


.footer__contact-details span {
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 700; /* Specify bold weight */
  font-size: 0.8rem; /* Adjust font size as needed */
  display: inline-block; /* Ensures the elements respect margin and padding */
}
.footer__contact-details span:first-child::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px; /* Adjust height as needed */
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;

}

.span-pace {
  margin-right: 10px; /* Add space to the right of each span */
}

.footer__logo {
  width: 270px; /* Adjust width as needed */
  margin-right: 1rem;
}



.footer__industries {
  text-align: left; /* Align text to the left */
  width: auto;
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 700; /* Specify bold weight */
  font-size: 0.7rem; /* Adjust font size as needed */
}

.list-organizer {
  display: flex;
  justify-content: left; /* Space the lists horizontally */
  width: 100%; /* Ensure it takes the full width of the container */
}

.list-organizer > ul { /* Target direct child divs */
  font-size: 0.8rem; /* Adjust font size as needed */
  margin-right: 20px; /* Add margin-right for separation */
}

.list-organizer > ul:last-child { /* Remove margin from last child */
  margin-right: 0; /* Ensures no extra space at the end */
}

.footer__industries h3 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.footer__industries-divider {
  height: 1px; /* Adjust divider height as needed */
  width: 100px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.footer__divider {
  width: 100%;
  height: 2px; /* Adjust divider height as needed */
  background-color: #977347;

}

.footer__industries-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__industries-list a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
}

.footer__industries-list a:hover {
  color: inherit; /* Prevent color change on hover */
  text-decoration: none; /* Prevent underline on hover */
}

.footer__industries-list li {
  margin-bottom: 0.5rem;
}

.footer__link-container {
  display: flex; /* Enable flexbox */
  align-items: center; /* Vertically center child elements */
}

.footer__arrow {
  width: 19px;
  margin-right: 0.5rem;
}

.footer__social-media {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  margin-top: 1.6rem;
}

.footer__social-icon {
  width: 30px; /* Adjust icon size as needed */
  margin: 0 1rem;
}
