.four-sec-centered {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.four-section-width {
  width: 100%;
  margin: auto;
}

.SectionFour {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.fourImageRegion {
  width: 50%;
  padding-right: 30px;
}
.fourImageRegion img {
  width: 100%;
}

.fourTextContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: clamp(10px, 8%, 130px);
}

.fourTextRegion {
  width: 83%;
  max-width: 620px;
}
.fourTextRegion h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 17px;
  width: 30%;
}
.fourTextRegion hr {
  border: 1.4px solid #000;
  width: 24%;
  margin-bottom: 17px;
}
.fourTextRegion h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #977347;
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 0.9; /* Adjust value to decrease spacing */
}
