.four-sec-centered {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
  

.four-section-width {
  width: 100%;
  margin: auto;
}

.SectionFour {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

.fourImageRegion {
  width: 50%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.fourImageRegion img {
  width: 100%;
}
.fourTextRegion {
  width: 50%;
  padding-left: 120px;
  margin-right: 150px;
}
.fourTextRegion h2 {
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 17px;
  width: 30%;

}
.fourTextRegion hr {
  border: 1.4px solid #000;
  width: 24%;
  margin-bottom: 17px;
}
.fourTextRegion h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #977347;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 0.9; /* Adjust value to decrease spacing */
  max-width: 450px;
}
.fourTextRegion p {
  max-width: 450px;
  font-family: 'Montserrat', sans-serif; /* Fallback to regular if bold not loaded */
  font-weight: 400;
  font-size: 1rem;
}
