.four-sec-centered {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.four-section-width {
  width: 100%;
  margin: auto;
}

.SectionFour {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
}

.fourImageRegion {
  width: 50%;
  padding-right: 30px;
}
.fourImageRegion img {
  width: 100%;
}

.fourTextContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: clamp(10px, 8%, 130px);
}

.fourTextRegion {
  width: 83%;
  max-width: 620px;
}
.fourTextRegion h2 {
  margin-bottom: 17px;
  width: 30%;
}
.fourTextRegion hr {
  border: 1.4px solid #000;
  width: 24%;
  margin-bottom: 17px;
}
.fourTextRegion h1 {
  margin-bottom: 30px;
}

.selectimg1 {
  display: flex;
}
.selectimg2 {
  display: none;
}


/* MOBILE */
@media (max-width: 840px) {

  .four-sec-centered {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .fourTextRegion h2 {
    margin-bottom: 22px;
  }

  .fourTextRegion hr {
    width: 28%;
    margin-bottom: 20px;
  }

  .SectionFour {
    flex-direction: column-reverse;
  }

  .fourTextContent {
    width: 100%;
    padding: 0px 0px;
  }

  .fourTextRegion {
    width: 100%;
  }

  .fourImageRegion {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 50px;
  }
  .fourImageRegion img {
    width: 100%;
  }

  .selectimg1 {
    display: none;
  }
  .selectimg2 {
    display: flex;
  }
}

/* WIDE SCREENS */
@media (min-width: 2300px) {
  .fourTextRegion {
    width: 83%;
    max-width: 1000px;
  }
  
}

