.Section2About {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.Section2Centered {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.Section2ImageRegion {
  width: 50%;
}
.Section2ImageRegion img {
  width: 100%;
  padding-right: 20px;
}

.Section2TextRegionOrganizer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Section2TextRegion-About {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.Section2TextRegion-About h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.Section2TextRegion-About hr {
  border: 2px solid #000;
  width: 24%;
  margin-bottom: 20px;
}
.Section2TextRegion-About h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #977347;
  font-size: 3.5rem;
  line-height: 0.9;
  font-weight: 400;
  margin-bottom: 30px;
}
