.Section2About {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.Section2Centered {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.Section2ImageRegion {
  width: 50%;
}
.Section2ImageRegion img {
  width: 100%;
  padding-right: 20px;
}

.Section2TextRegionOrganizer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Section2TextRegion-About {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.Section2TextRegion-About h2 {
  margin-bottom: 25px;
}
.Section2TextRegion-About hr {
  border: 2px solid #000;
  width: 24%;
  margin-bottom: 20px;
}
.Section2TextRegion-About h1 {
  line-height: 0.9;
  margin-bottom: 30px;
}

.aloneimgAbout1 {
  display: flex;
}

.aloneimgAbout2 {
  display: none;
}

@media (max-width: 840px) {
  .Section2About {
    margin-top: 50px;
    margin-bottom: 60px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .Section2Centered {
    flex-direction: column;
    width: 100%;
  }

  .Section2ImageRegion {
    width: 100%;
  }
  .Section2ImageRegion img {
    width: 100%;
    padding-right: 0px;
  }

  .Section2TextRegionOrganizer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 30px;
  }

  .Section2TextRegion-About {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Section2TextRegion-About h2 {
    margin-bottom: 25px;
  }
  .Section2TextRegion-About hr {
    border: 1.5px solid #000;
    width: 24%;
    margin-bottom: 20px;
  }
  .Section2TextRegion-About h1 {
    margin-bottom: 30px;
  }

  .aloneimgAbout1 {
    display: none;
  }
  
  .aloneimgAbout2 {
    display: flex;
  }
}
