.section-three-centered{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}


.SectionThree{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.threeTextRegion{
    width: 42%;
}

.threeImageRegion{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.threeImageRegion img{
    width: 48%;
}